html{
    height:100%;
}

body{
    user-select: none;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    overflow: hidden;
}

#ombre{
    background: rgba(0,100,0,0.7);
    width:100%;
    height:5%;
    
}

#reste{
    background: rgba(50,205,50,0.7);
    width:100%;
    height:95%;
}

a{
    position:absolute;
    font-size: 25px;
    font-weight: bold;
}

#enregistrement{
    margin-top: 250px;
    margin-left: 1520px;
}

#replay{
    margin-top: 300px;
    margin-left: 1560px;
}

p{
    margin:10px 780px;
    padding:0;
    position:absolute;
    font-size: 30px;
    font-weight: bold;
    color: rgb(38, 58, 58);
}